<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavMode === 'side'"
    (window:resize)="onResize($any($event).target.innerWidth)">
    <div style="flex-direction: column; box-sizing: border-box; display: flex;">
      <div class="sidenav-banner" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 0 auto; place-content: center; align-items: center;">
        <img src="assets/img/tigercropped.jpg">
        <img src="assets/img/tigercropped.jpg" class="blur">
      </div>
      <mat-nav-list style="flex: 1 1 100%; box-sizing: border-box; max-height: 100%;">
        <a mat-list-item *ngFor="let route of routes" routerLink="{{route.path}}" routerLinkActive="active"
          (click)="sidenavMode === 'over' && sidenav.close()">
          <img mat-list-icon [src]="route?.data.icon">
          <span mat-line> {{route?.data['title']}} </span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <div class="main-content">
    <mat-toolbar color="custom">
      <button disableRipple mat-icon-button (click)="sidenav.toggle()" *ngIf="sidenavMode === 'over'">
        <mat-icon>menu</mat-icon>
      </button>
      <h2>Wrightstown Full Court Club</h2>
    </mat-toolbar>

    <mat-card class="middle-column" style="flex-direction: column; box-sizing: border-box; display: flex;">
      <mat-card-content>
        <router-outlet></router-outlet>
        <mat-divider></mat-divider>
        <div style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
          <img src="assets/img/FullCourtLogo-216.png">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav-container>