.layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.middle-column {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

md-nav-list a.active .md-list-item {
    background: blue;
}
