<mat-sidenav-container fullscreen>
  <mat-sidenav fxLayout="column" #sidenav [mode]="sidenavMode" [opened]="sidenavMode === 'side'" (window:resize)="onResize($event.target.innerWidth)">
    <div class="sidenav-banner" fxFlex="noshrink" fxLayoutAlign="center center" fxLayout="column">
      <img src="assets/img/tigercropped.jpg">
      <img src="assets/img/tigercropped.jpg" class="blur">
    </div>
    <mat-nav-list fxFlex="grow">
      <a mat-list-item *ngFor="let route of routes" routerLink="{{route.path}}" routerLinkActive="active" (click)="sidenavMode === 'over' && sidenav.close()">
        <img mat-list-icon [src]="route?.data.icon">
        <span mat-line> {{route?.data['title']}} </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="main-content">
    <mat-toolbar color="custom">
      <button disableRipple mat-icon-button (click)="sidenav.toggle()" *ngIf="sidenavMode === 'over'">
        <mat-icon>menu</mat-icon>
      </button>
      <h2>Wrightstown Full Court Club</h2>
    </mat-toolbar>

    <mat-card class="middle-column" fxLayout="column">
      <mat-card-content>
        <router-outlet></router-outlet>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="center center" fxLayout="column">
          <img src="assets/img/FullCourtLogo-216.png">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav-container>
