.main-content {
  background: #e3f2fd;
  height: 100%;
}

.middle-column {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.sidenav-banner {
  height: 120px;
  overflow: hidden;
  position: relative;
}

img.blur {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 120%;
  margin-right: 10%;
  height: auto;
  z-index: -1;
  background-color: white;
  -webkit-filter: blur(15px);
}

:host >>> .mat-list-item {
  height: 80px;
}

:host >>> .mat-nav-list .mat-list-item .mat-list-item-content {
  height: 100%;
}

:host >>> .mat-nav-list .mat-list-item .mat-list-icon {
  height: auto;
  width: 100px;
  border-radius: initial;
}

:host >>> .mat-nav-list a.active {
  background: #efefef;
}

:host >>> .mat-nav-list a.active .mat-line {
  color: #1565c0;
}

:host >>> .mat-card .mat-divider {
  margin: 36px 0 36px 0;
  border-top: 1px solid #1565c0;
}

:host >>> .mat-toolbar.mat-custom {
  background: #2196f3;
  color: white;
}

:host >>> .mat-toolbar-row {
  margin: 8px 0 8px 0;
}

body {
  background: #e3f2fd;
}

:host >>> .mat-ink-bar {
  background-color: #01579b!important;
}

:host >>> .mat-tab-label:focus {
  background-color: rgba(187, 222, 251, 0.3)!important;
}
