/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.mat-ink-bar {
  background-color: #01579b!important;
}

.mat-tab-label:focus {
  background-color: rgba(187, 222, 251, 0.3)!important;
}

body, .mat-drawer-content {
  background: #e3f2fd;
}

body {
  font-family: Roboto , "Helvetica Neue" , sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}